<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Globalization App</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../css/tudo.css">
</head>

<body ng-app="projGlobalizationApp">
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-brand  navbar-left">:D</div>
	  </div>
	</nav>
	<div class="page-content">
		<div ng-view></div>
	</div>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-route/angular-route.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular-translate/angular-translate.js"></script>
<script src="../controllers/app.js"></script>
</body>
</html>